@font-face {
    font-family: "SFProDisplay-Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"),
      url("../fonts/SFProDisplay-Regular.woff") format("woff");
  }
  
  @font-face {
    font-family: "SFProDisplay-Semibold", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"),
      url("../fonts/SFProDisplay-Semibold.woff") format("woff");
  }